service: nextjs-aws-lambda

provider:
  name: aws
  runtime: nodejs20.x
  region: us-east-1
  memorySize: 1024
  timeout: 30
  deploymentBucket:
    name: nextjs-lambda-deployment-1762642299

functions:
  app:
    handler: handler.handler
    url:
      cors: true

package:
  patterns:
    - '!node_modules/**'
    - '!.git/**'
    - '!.next/cache/**'
    - '!.next/standalone/node_modules/.cache/**'
    - '.next/standalone/**'
    - '.next/static/**'
    - 'public/**'
    - 'handler.js'
