service: nextjs-aws-lambda

provider:
  name: aws
  runtime: nodejs20.x
  region: us-east-1
  memorySize: 1024
  timeout: 30
  deploymentBucket:
    name: nextjs-lambda-deployment-1762642299

functions:
  app:
    handler: .open-next/server-functions/default/index.handler
    url:
      cors: true

package:
  individually: true
  patterns:
    - '!**'
    - '.open-next/server-functions/default/**'
